openapi: 3.1.0
info:
  title: Message Service API
  description: A RESTFul API works with message resource and detect if the message
    is a palindrome
  version: 1.0.0
servers:
  - url: https://goodspeed.cloud/api/v1
  - url: http://localhost:3000/api/v1
paths:
  /messages:
    get:
      summary: Get all the messages
      description: Get all the messages
      parameters:
        - name: size
          in: query
          description: number of messages request to be returned
          schema:
            type: integer
            default: 10
        - name: page
          in: query
          description: page offset start with 1
          schema:
            type: integer
            default: 1
        - name: sort
          in: query
          description: sortby fields allow 'createdAt', 'updateAt', 'message', 'palindromic',
            '_id' use - for descending
          schema:
            type: string
            default: -createdAt
        - name: palindromic
          in: query
          description: use 0|1 to filter palindrmic message
          schema:
            type: integer
            enum: [ 0,1 ]
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MessageResult'
                  currentPage:
                    type: integer
                  currentSize:
                    type: integer
                  totalPages:
                    type: integer
                  totalRecords:
                    type: integer
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
    post:
      summary: Save the message
      description: Save the message
      requestBody:
        description: message object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagePayload'
        required: true
      responses:
        200:
          description: successful saved message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Malformed Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
      x-codegen-request-body-name: body
  /messages/{id}:
    put:
      summary: Update the message
      description: Update the message
      parameters:
        - name: id
          in: path
          description: message id to be updated
          required: true
          schema:
            type: string
      requestBody:
        description: message object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagePayload'
        required: true
      responses:
        200:
          description: Successful Updated Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Malformed Path Params or Malformed Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        404:
          description: Message Id Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        405:
          description: Malformed Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
      x-codegen-request-body-name: body
    get:
      summary: Get the message
      description: Get the message
      parameters:
        - name: id
          in: path
          description: message id to be retrieve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful Updated Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          description: Malformed Path Params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        404:
          description: Message Id Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
      x-codegen-request-body-name: body
    delete:
      summary: Delete the message
      description: Delete the message
      parameters:
        - name: id
          in: path
          description: message id to be deleted
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful Delete Message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessDeletedResponse'
        400:
          description: Malformed Path Params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        405:
          description: Malformed Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        404:
          description: Message Id Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
        500:
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedResponse'
      x-codegen-request-body-name: body
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        result:
          type: object
          properties: { }
        message:
          type: string
          default: ""
        error:
          type: string
          default: null
        timestamp:
          type: string
          format: date-time
          default: '2021-04-11T01:36:19.683Z'
    SuccessDeletedResponse:
      type: object
      properties:
        result:
          type: string
        message:
          type: string
          default: ""
        error:
          type: string
          default: null
        timestamp:
          type: string
          format: date-time
          default: '2021-04-11T01:36:19.683Z'
    FailedResponse:
      type: object
      properties:
        result:
          type: string
          nullable: true
        message:
          type: string
          default: "failed reason"
        error:
          type: string
          default: "error description"
        timestamp:
          type: string
          format: date-time
          default: '2021-04-11T01:36:19.683Z'
    MessageResult:
      type: object
      properties:
        _id:
          type: string
        message:
          type: string
        palindromic:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        __v:
          type: integer
    MessagePayload:
      type: object
      properties:
        message:
          type: string
